<ion-view>
  <ion-nav-title>{{vm.food.name}}</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear button-positive" ng-click="vm.showActions.food()" ng-if="vm.authenticated && !vm.food._id">
      Save
    </button>
   </ion-nav-buttons>

   <ion-content has-header="true">

      <div class="card">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Name</span>
            <input type="text" id="name" ng-model="vm.food.name" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="vm.recordChange()"/>
          </label>
          <label class="item item-input">
            <span class="input-label">Units</span>
            <input type="number" ng-model="vm.food.qty" placeholder="# of units" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="vm.recordChange()"/>
          </label>

          <label class="item item-input">
            <span class="input-label">Fraction</span>
            <input type="text" ng-model="vm.food.fraction.string" placeholder="Example: 1/2" ng-change="vm.changeFraction()"/>
          </label>

          <ion-item class="item-input item-select">
            <span class="item-label">Unit of measure</span>
            <select ng-model="vm.food.unit" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="vm.recordChange()">
              <option value="">(none)</option>
              <option value="tsp">tsp</option>
              <option value="tbs">tbs</option>
              <option value="cup">cup</option>
              <option value="oz">oz</option>
              <option value="lb">lb</option>
              <option value="fl">fl oz</option>
            </select>
          </ion-item>
        </div>

        <label class="item item-stable">
            Nutrition Facts
        </label>

        <div class="list label-long">

          <label class="item item-input">
            <span class="item-label">Calories (total)</span>
            <input type="number" min="0" max="9999" ng-model="vm.food.nutrition.calories.total" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="vm.recordChange()"/>
          </label>

          <label class="item item-input">
            <span class="item-label">Calories from Fat</span>
            <input type="number" min="0" max="9999" ng-model="vm.food.nutrition.calories.fromFat" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="vm.recordChange()"/>
          </label>

          <label class="item item-input">
            <span class="item-label">Total Fat (g)</span>
            <input type="number" min="0" max="9999" ng-model="vm.food.nutrition.fat.total" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="vm.recordChange()"/>
          </label>

          <label class="item item-input">
            <span class="item-label">Saturated Fat (g)</span>
            <input type="number" min="0" max="9999" ng-model="vm.food.nutrition.fat.saturated" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="vm.recordChange()"/>
          </label>

          <label class="item item-input">
            <span class="item-label">Trans Fat (g)</span>
            <input type="number" min="0" max="9999" ng-model="vm.food.nutrition.fat.trans" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="vm.recordChange()"/>
          </label>

          <label class="item item-input">
            <span class="item-label">Polyunsat Fat (g)</span>
            <input type="number" min="0" max="9999" ng-model="vm.food.nutrition.fat.polyunsat" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="vm.recordChange()"/>
          </label>

          <label class="item item-input">
            <span class="item-label">Monounsat Fat (g)</span>
            <input type="number" min="0" max="9999" ng-model="vm.food.nutrition.fat.monounsat" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="vm.recordChange()"/>
          </label>

          <label class="item item-input">
            <span class="item-label">Cholesterol (mg)</span>
            <input type="number" min="0" max="9999" ng-model="vm.food.nutrition.cholesterol" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="vm.recordChange()"/>
          </label>

          <label class="item item-input">
            <span class="item-label">Sodium (mg)</span>
            <input type="number" min="0" max="9999" ng-model="vm.food.nutrition.sodium" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="vm.recordChange()"/>
          </label>

          <label class="item item-input">
            <span class="item-label">Potassium (mg)</span>
            <input type="number" min="0" max="9999" ng-model="vm.food.nutrition.potassium" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="vm.recordChange()"/>
          </label>

          <label class="item item-input">
            <span class="item-label">Carbs (total)</span>
            <input type="number" min="0" max="9999" ng-model="vm.food.nutrition.carbohydrates.total" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="vm.recordChange()"/>
          </label>

          <label class="item item-input">
            <span class="item-label">Carbs (fiber)</span>
            <input type="number" min="0" max="9999" ng-model="vm.food.nutrition.carbohydrates.fiber" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="vm.recordChange()"/>
          </label>

          <label class="item item-input">
            <span class="item-label">Carbs (sugar)</span>
            <input type="number" min="0" max="9999" ng-model="vm.food.nutrition.carbohydrates.sugar" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="vm.recordChange()"/>
          </label>

          <label class="item item-input">
            <span class="item-label">Protein</span>
            <input type="number" min="0" max="9999" ng-model="vm.food.nutrition.protein" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="vm.recordChange()"/>
          </label>
        </div>

        <label class="item item-stable">
            Vitamins *
        </label>

        <div class="list label-long">

          <label class="item item-input">
            <span class="item-label">Vitamin A (%)</span>
            <input type="number" min="0" max="9999" ng-model="vm.food.nutrition.vitamins.a" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="vm.recordChange()"/>
          </label>

          <label class="item item-input">
            <span class="item-label">Vitamin C (%)</span>
            <input type="number" min="0" max="9999" ng-model="vm.food.nutrition.vitamins.c" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="vm.recordChange()"/>
          </label>

          <label class="item item-input">
            <span class="item-label">Vitamin D (%)</span>
            <input type="number" min="0" max="9999" ng-model="vm.food.nutrition.vitamins.d" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="vm.recordChange()"/>
          </label>

          <label class="item item-input">
            <span class="item-label">Vitamin E (%)</span>
            <input type="number" min="0" max="9999" ng-model="vm.food.nutrition.vitamins.e" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="vm.recordChange()"/>
          </label>

          <label class="item item-input">
            <span class="item-label">Calcium (%)</span>
            <input type="number" min="0" max="9999" ng-model="vm.food.nutrition.vitamins.calcium" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="vm.recordChange()"/>
          </label>

          <label class="item item-input">
            <span class="item-label">Iron (%)</span>
            <input type="number" min="0" max="9999" ng-model="vm.food.nutrition.vitamins.iron" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="vm.recordChange()"/>
          </label>

          <label class="item">
            <p>(* percentage based on 2000 calorie diet)</p>
          </label>

        </div>
      </div>

   </ion-content>
</ion-view>
