<ion-modal-view>
    <ion-header-bar class="bar-stable">
      <h1 class="title">Add Ingredient</h1>
      <button class="button button-clear button-positive" ng-click="vm.ingredientModal.hide()">Close</button>
    </ion-header-bar>

    <div class="bar bar-light bar-subheader item-input-inset" ng-class="{'bar-subheader-select': vm.authenticated}" ng-if="!vm.newIngredient">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="vm.query.search" ng-model-options="{ updateOn: 'default', debounce: { 'default': 500 } }"/>
      </label>
      <div class="item-input item-select header-select">
        <select>
          <option selected>All</option>
          <option>Following</option>
          <option>Mine</option>
        </select>
      </div>
    </div>

    <div class="bar bar-stable bar-subheader" ng-if="vm.newIngredient">
      <h2 class="title">{{vm.newIngredient.name}} <span ng-show="vm.newIngredient.unit">({{vm.newIngredient.unit}})</span></h2>
    </div>

    <ion-content class="has-subheader">
      <div class="list" ng-if="vm.newIngredient">
        <ion-item>
          <h2>Source: {{vm.newIngredient.source}}</h2>
          <p>
            Serving Size:
            <span class="integer" ng-show="vm.newIngredient.qty">{{vm.newIngredient.qty}}</span>
            <span class="fraction" ng-show="vm.newIngredient.fraction.numerator">
              {{vm.newIngredient.fraction.numerator}}/{{vm.newIngredient.fraction.denominator}}
            </span>
            {{vm.newIngredient.unit}}
          </p>
        </ion-item>

        <div class="item item-divider">
          Amount in Recipe
        </div>

        <label class="item item-input">
          <span class="input-label">Units</span>
          <input type="number" ng-model="vm.addToRecipe.qty" placeholder="# of units"/>
        </label>

        <label class="item item-input">
          <span class="input-label">Fraction</span>
          <input type="text" ng-model="vm.addToRecipe.fraction.string" placeholder="Example: 1/2" ng-change="vm.changeFraction()"/>
        </label>

        <ion-item class="item-input item-select">
          <span class="item-label">Unit of measure</span>
          <select ng-model="vm.addToRecipe.unit">
            <option value="">(none)</option>
            <option value="tsp">tsp</option>
            <option value="tbs">tbs</option>
            <option value="cup">cup</option>
            <option value="oz">oz</option>
            <option value="lb">lb</option>
            <option value="fl">fl oz</option>
          </select>
        </ion-item>

        <button class="button button-block button-clear button-positive" ng-click="vm.addIngredientToRecipe()">
          Add
            <span ng-show="vm.addToRecipe.qty > 0">{{vm.addToRecipe.qty}}</span>
            <span class="fraction" ng-show="vm.addToRecipe.fraction.numerator">
              <sup>{{vm.addToRecipe.fraction.numerator}}</sup>&frasl;<sub>{{vm.addToRecipe.fraction.denominator}}</sub>
            </span>
            {{vm.addToRecipe.unit}}
        </button>
      </div>

      <ion-list ng-if="!vm.newIngredient">
        <ion-item ng-repeat="food in vm.foodItems" href="#" ng-click="vm.selectIngredient(food)" ng-if="vm.foodItems.length">
          <h2>{{food.name}} <span ng-show="food.unit">({{food.unit}})</span></h2>
        </ion-item>
      </ion-list>

      <ion-infinite-scroll on-infinite="vm.loadMore()" distance="1%" ng-if="!vm.newIngredient">
      </ion-infinite-scroll>

    </ion-content>
  </ion-modal-view>
