<ion-view>
  <ion-nav-title>{{vm.recipe.name}}</ion-nav-title>
  <ion-nav-buttons side="right">
      <button class="button button-icon button-clear button-positive ion-ios-more" ng-click="vm.showActions.recipe()" ng-if="vm.authenticated && vm.profile._id === vm.recipe.author._id"></button>
      <!-- <button class="button button-icon button-clear button-small ion-heart" ng-class="{'button-assertive': vm.lovethis, 'button-stable': !vm.lovethis}" ng-click="vm.lovethis = !vm.lovethis" ng-if="vm.authenticated && vm.profile && vm.profile._id !== vm.recipe.author._id"></button> -->
   </ion-nav-buttons>
</ion-view>

<ion-tabs class="tabs-stable tabs-icon-top">
  <ion-tab title="Recipe" icon-on="ion-ios-paper positive" icon-off="ion-ios-paper-outline">
    <ion-nav-view>
      <ion-content has-header="true">
        <div class="card" ng-if="!vm.editMode">

          <div class="item item-body">
            <img ng-if="vm.recipe.picture" class="full-image" ng-src="{{vm.recipe.picture}}">
            <img ng-if="!vm.recipe.picture" class="full-image" src="img/plates.jpg"/>
            <!-- <p>{{vm.recipe.name}}</p> -->
            <p>
              Serves: {{vm.recipe.servings}}<br>
              <span ng-show="vm.recipe.time.prep">Prep: {{vm.recipe.time.prep}} min</span>
              <span ng-show="vm.recipe.time.prep && vm.recipe.time.cook"><br></span>
              <span ng-show="vm.recipe.time.cook">Cook: {{vm.recipe.time.cook}} min</span>
            </p>
            <p>Ingredients:</p>
            <ul>
              <li ng-repeat="ingredientAmt in vm.recipe.ingredients" class="truncate">
                <span class="measurement">
                  <span ng-show="ingredientAmt.qty > 0">{{ingredientAmt.qty}}</span>
                  <span ng-show="ingredientAmt.fraction.numerator"><sup>{{ingredientAmt.fraction.numerator}}</sup>&frasl;<sub>{{ingredientAmt.fraction.denominator}}</sub></span>
                  {{ingredientAmt.unit}}
                </span>
                {{ingredientAmt.foodItem.name}}
              </li>
            </ul>
            <p ng-show="vm.recipe.instructions">Instructions:</p>
            <p ng-show="vm.recipe.instructions">
              <pre>{{vm.recipe.instructions}}</pre>
            </p>

          </div>

          <!-- <ion-item class="item item-avatar item-icon-right" href="#/app/user/{{vm.recipe.author._id}}/recipes">
            <img ng-src="https:{{vm.recipe.author.gravatar}}" class="avatar">
            <a href="#/app/user/{{vm.recipe.author._id}}">
              <i class="bookmark icon ion-ios-arrow-right"></i>
            </a>
            <h2>See more by:</h2>
            <p>{{vm.recipe.author.firstName}} {{vm.recipe.author.lastName}}</p>
          </ion-item> -->

          <!-- <div class="item item-light">
            <span class="stars stars-right">
              <i class="ion-ios-star"></i>
              <i class="ion-ios-star"></i>
              <i class="ion-ios-star"></i>
              <i class="ion-ios-star-half"></i>
              <i class="ion-ios-star-outline"></i>
            </span>
            <p>
              <a href="#" class="subdued">5 Comments</a>
            </p>
          </div> -->



        </div>

        <div class="card" ng-if="vm.editMode">
            <div class="list">
              <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" ng-model="vm.recipe.name" placeholder="recipe name" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="vm.recipe.$save()"/>
              </label>
              <label class="item item-input">
                <span class="input-label">Servings</span>
                <input type="number" ng-model="vm.recipe.servings" placeholder="# of servings" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="vm.recipe.$save()"/>
              </label>
              <label class="item item-input">
                <span class="input-label">Prep Time</span>
                <input type="number" ng-model="vm.recipe.time.prep" min="0" max="999" placeholder="# of minutes" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="vm.recipe.$save()"/>
              </label>
              <label class="item item-input">
                <span class="input-label">Cook Time</span>
                <input type="number" ng-model="vm.recipe.time.cook" min="0" max="999" placeholder="# of minutes" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="vm.recipe.$save()"/>
              </label>
            </div>

            <ion-item ng-model="vm.canEdit" class="item-stable item-button-right" ng-show="vm.recipe.ingredients.length">
              Ingredients
              <button class="button button-clear button-positive" ng-click="vm.showAddIngredient()">
                Add
              </button>
            </ion-item>

            <!-- <ion-item class="item item-icon-left no-top" href="#" ng-click="vm.showAddIngredient()" ng-show="!vm.canEdit">
              <i class="icon ion-ios-plus-empty positive"></i>
              <span class="positive">Add Ingredient</span>
            </ion-item> -->

            <ion-list show-delete="vm.canEdit" show-reorder="vm.canEdit">
              <ion-item ng-repeat="ingredientAmt in vm.recipe.ingredients" item="ingredientAmt">
                <span ng-show="ingredientAmt.qty > 0">{{ingredientAmt.qty}}</span>
                <span ng-show="ingredientAmt.fraction.numerator"><sup>{{ingredientAmt.fraction.numerator}}</sup>&frasl;<sub>{{ingredientAmt.fraction.denominator}}</sub></span>
                {{ingredientAmt.unit}} {{ingredientAmt.foodItem.name}}
                <ion-reorder-button class="ion-ios-drag" on-reorder="vm.moveIngredient(ingredientAmt, $fromIndex, $toIndex)">
                </ion-reorder-button>
                <ion-delete-button class="ion-ios-minus-empty" ng-click="vm.removeIngredient($index)">
                </ion-delete-button>
              </ion-item>
            </ion-list>

            <ion-toggle ng-model="vm.canEdit" toggle-class="toggle-assertive" ng-show="vm.recipe.ingredients.length" class="no-top">
              <span class="assertive">Edit List</span>
            </ion-toggle>

            <label class="item item-stable">
              Instructions
            </label>
            <label class="item">
              <textarea ng-model="vm.recipe.instructions" placeholder="Add instructions here" ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }" ng-change="vm.recipe.$save()"></textarea>
            </label>

        </div>
      </ion-content>
    </ion-nav-view>
  </ion-tab>

  <ion-tab title="Meal Planning" icon-on="ion-ios-clock positive" icon-off="ion-ios-clock-outline" ng-if="vm.editMode">
    <ion-nav-view>
      <ion-content has-header="true" padding="true">
        <div class="card" ng-if="vm.editMode">
          <ion-list>
            <ion-item class="item-divider">Meal</ion-item>
            <ion-toggle name="breakfast" ng-model="vm.mealplanning.breakfast" ng-change="vm.toggleMealPlanning()" toggle-class="toggle-positive">Breakfast</ion-toggle>
            <ion-toggle name="lunch" ng-model="vm.mealplanning.lunch" ng-change="vm.toggleMealPlanning()" toggle-class="toggle-positive">Lunch</ion-toggle>
            <ion-toggle name="dinner" ng-model="vm.mealplanning.dinner" ng-change="vm.toggleMealPlanning()" toggle-class="toggle-positive">Dinner</ion-toggle>
            <ion-toggle name="snack" ng-model="vm.mealplanning.snack" ng-change="vm.toggleMealPlanning()" toggle-class="toggle-positive">Snack</ion-toggle>
          </ion-list>
        </div>
        <div class="card" ng-if="vm.editMode">
          <ion-list>
            <ion-item class="item-divider">Type</ion-item>
            <ion-radio name="type" ng-model="vm.mealtype" ng-value="'entree'">Entrée</ion-radio>
            <ion-radio name="type" ng-model="vm.mealtype" ng-value="'side'">Side</ion-radio>
            <ion-radio name="type" ng-model="vm.mealtype" ng-value="'beverage'">Beverage</ion-radio>
            <ion-radio name="type" ng-model="vm.mealtype" ng-value="'dessert'">Dessert</ion-radio>
          </ion-list>
        </div>
      </ion-content>
    </ion-nav-view>
  </ion-tab>

  <ion-tab title="Nutrition" icon-on="ion-ios-nutrition positive" icon-off="ion-ios-nutrition-outline" ng-if="!vm.editMode">
    <ion-nav-view>
      <ion-content has-header="true" padding="true">
        <div class="card">
          <div class="padding">
            <div class="underline-triple">
                <h1>Nutrition Facts</h1>
            </div>
            <div class="row underline-single">
              <div class="col col-100">
                <strong>Amount Per Serving</strong>
              </div>
            </div>
            <div class="row underline-single">
              <div class="col col-100">
                <strong>Calories</strong>
                {{vm.recipe.nutrition.calories.total}}
              </div>
            </div>
            <div class="row underline-double" ng-show="vm.recipe.nutrition.calories.fromFat">
              <div class="col col-100">
                &nbsp; Calories from Fat
                {{vm.recipe.nutrition.calories.fromFat}}
              </div>
            </div>

            <div class="row underline-single">
              <div class="col col-67">
                &nbsp;
              </div>
              <div class="col col-33 right">
                <strong>% Daily Value</strong>
              </div>
            </div>

            <div class="row underline-single" ng-show="vm.recipe.nutrition.fat.total">
              <div class="col col-67">
                <strong>Total Fat</strong> {{vm.recipe.nutrition.fat.total}}g
              </div>
              <div class="col col-33 right">
                <strong>%</strong>
              </div>
            </div>

            <div class="row underline-single" ng-show="vm.recipe.nutrition.fat.saturated">
              <div class="col col-67">
                &nbsp; Saturated Fat {{vm.recipe.nutrition.fat.saturated}}g
              </div>
              <div class="col col-33 right">
                <strong>%</strong>
              </div>
            </div>

            <div class="row underline-single" ng-show="vm.recipe.nutrition.fat.trans">
              <div class="col col-67">
                &nbsp; Trans Fat {{vm.recipe.nutrition.fat.trans}}g
              </div>
              <div class="col col-33 right">
                <strong></strong>
              </div>
            </div>

            <div class="row underline-single" ng-show="vm.recipe.nutrition.fat.polyunsat">
              <div class="col col-67">
                &nbsp; Polyunsaturated Fat {{vm.recipe.nutrition.fat.polyunsat}}g
              </div>
              <div class="col col-33 right">
                <strong></strong>
              </div>
            </div>

            <div class="row underline-single" ng-show="vm.recipe.nutrition.fat.monounsat">
              <div class="col col-67">
                &nbsp; Monounsaturated Fat {{vm.recipe.nutrition.fat.monounsat}}g
              </div>
              <div class="col col-33 right">
                <strong></strong>
              </div>
            </div>

            <div class="row underline-single" ng-show="vm.recipe.nutrition.cholesterol">
              <div class="col col-67">
                <strong>Cholesterol</strong> {{vm.recipe.nutrition.cholesterol}}mg
              </div>
              <div class="col col-33 right">
                <strong>%</strong>
              </div>
            </div>

            <div class="row underline-single" ng-show="vm.recipe.nutrition.sodium">
              <div class="col col-67">
                <strong>Sodium</strong> {{vm.recipe.nutrition.sodium}}mg
              </div>
              <div class="col col-33 right">
                <strong>%</strong>
              </div>
            </div>

            <div class="row underline-single" ng-show="vm.recipe.nutrition.potassium">
              <div class="col col-67">
                <strong>Potassium</strong> {{vm.recipe.nutrition.potassium}}mg
              </div>
              <div class="col col-33 right">
                <strong>%</strong>
              </div>
            </div>

            <div class="row underline-single" ng-show="vm.recipe.nutrition.carbohydrates.total">
              <div class="col col-67">
                <strong>Total Carbohydrate</strong> {{vm.recipe.nutrition.carbohydrates.total}}g
              </div>
              <div class="col col-33 right">
                <strong>%</strong>
              </div>
            </div>

            <div class="row underline-single" ng-show="vm.recipe.nutrition.carbohydrates.fiber">
              <div class="col col-67">
                &nbsp; Dietary Fiber {{vm.recipe.nutrition.carbohydrates.fiber}}g
              </div>
              <div class="col col-33 right">
                <strong>%</strong>
              </div>
            </div>

            <div class="row underline-single" ng-show="vm.recipe.nutrition.carbohydrates.sugar">
              <div class="col col-67">
                &nbsp; Sugars {{vm.recipe.nutrition.carbohydrates.sugar}}g
              </div>
              <div class="col col-33 right">
                <strong>%</strong>
              </div>
            </div>

            <div class="row underline-triple" ng-show="vm.recipe.nutrition.protein">
              <div class="col col-67">
                <strong>Protein</strong> {{vm.recipe.nutrition.protein}}g
              </div>
              <div class="col col-33 right">
                <strong>%</strong>
              </div>
            </div>

            <div class="row underline-single" ng-show="vm.recipe.nutrition.vitamins.a">
              <div class="col col-67">
                Vitamin A
              </div>
              <div class="col col-33 right">
                {{vm.recipe.nutrition.vitamins.a}}%
              </div>
            </div>

          </div>
        </div>
      </ion-content>
    </ion-nav-view>
  </ion-tab>
</ion-tabs>
