.card {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

@media screen and (min-width: 830px) {
  .card {
    max-width: 800px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  .list {
    max-width: 470px;
  }

  .card .list {
    max-width: 100%;
  }
}

a {
  text-decoration: none;
}

textarea {
  min-height: 200px;
  width: 100%;
}

pre {
  font-family: sans-serif;
  font-size: 85%;
  color: #666;
  line-height: 24px;
}

.label-long .item-label {
  width: 220px;
}

.measurement {
  font-weight: bold;
  margin-right: 5px;
}

.header-select {
  width: 105px;
  height: 40px;
  margin-left: 10px;
}

.bar-subheader-select {
  padding-right: 0px;
}

.bar-subheader select, .bar-subheader option {
  min-width: 105px;
  padding-left: 5px;
  margin-left: 5px;
  padding-right: 37px;
}

/*label.item-input-wrapper.item-input-wrapper-select {
  width: 60%;
}*/

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bookmark {
  float: right;
}

.button.button-hidden, .selected_date_full {
  display: none;
}

.item-thumbnail-left .item-content {
  padding-right: 10px;
}

.item .item-content {
  padding-right: 10px;
}

.bar.bar-balanced, .button.button-balanced {
  background-color: #476821;
}

.badge.badge-calm {
  background-color: #264867
}

.clear {
  padding-top: 0px;
}

.item ul {
  list-style-type: none;
  list-style-position: inside;
}

.item li {
  color: #666;
  font-size: 14px;
  margin-bottom: 2px;
  line-height: 24px;
}

.side-menu .item, .list .item {
  border: 0px;
}

.stars-right, .hearts-right {
  float: right;
}

.stars i {
  /*color: #fec82e;*/
  color: #3d81f2;
}

.stars-selected i {
  color: #fec82e;
}

.hearts i {
  color: #d20915;
}

.right {
  text-align: right;
}

.underline-single {
  border-bottom: solid 1px #333;
}

.underline-double {
  border-bottom: solid 2px #333;
}

.underline-triple {
  border-bottom: solid 3px #333;
}

.radio-icon {
  color: #3d81f2
}

.item-radio input:checked + .radio-content .item-content {
  /* style the item content when its checked */
  background: #fff;
}

.no-top {
  border-top: none;
}
